Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

type-check:
  run: bun run check-types

lint:
  run: bun run lint

drizzle-check:
  run: bun drizzle:generate

remove admin cache
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/index.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/admin/users/index.tsx
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/queries.ts
Due: type-check, lint

query filters
  app/components/tasks/TaskList.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/admin/users/index.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/index.tsx
  app/routes/tasks/new.tsx
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/queries.ts
Due: type-check, lint

fix signout
  app/routes/admin.tsx
  app/routes/signout.tsx
Due: type-check, lint

query abstraction
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/queries.ts
Due: type-check, lint

admin table row prefetch
  app/components/admin/EntityList.tsx
  app/routes/admin/tasks/index.tsx
  app/routes/admin/users/index.tsx
Due: type-check, lint

lazy load analytics
  README.md
  app/routes/__root.tsx
Due: type-check, lint

streamline playwright auth
  app/middleware/auth-guard.ts
  app/routes/__root.tsx
  app/utils/test/playwright.ts
Due: type-check, lint

remove barrel files
  README.md
  app.config.ts
  app/client.tsx
  app/components/DefaultCatchBoundary.tsx
  app/components/NotFound.tsx
  app/components/tasks/TaskListError.tsx
  app/components/ui/Button/index.ts
  app/components/ui/Card/index.ts
  app/components/ui/index.ts
  app/e2e/test.setup.ts
  app/lib/monitoring/MonitoringProvider.tsx
  app/lib/monitoring/index.ts
  app/lib/monitoring/rollbar.tsx
  app/routes/admin/index.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/debug/monitoring.tsx
  app/routes/index.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  biome.json
Due: type-check, lint

test config
  README.md
  playwright.config.ts
  vitest.config.ts
Due: lint

test config
  vitest.config.ts
Due: lint

tailwind 4
  app/components/admin/EntityList.tsx
  app/components/tasks/TaskList.tsx
  app/components/ui/Card/Card.test.tsx
  app/styles/app.css
  bun.lockb
  package.json
  postcss.config.js
  tailwind.config.ts
Due: type-check, lint

tailwind 4
  app/styles/app.css
Due: none

code tweaks
  .clinerules
  .cursorrules
  README.md
  cline_docs/activeContext.md
  cline_docs/productContext.md
  cline_docs/progress.md
  cline_docs/systemPatterns.md
  cline_docs/techContext.md
Due: none

footer
  app/components/layouts/DefaultLayout.tsx
  app/components/marketing/Footer.tsx
  app/routeTree.gen.ts
  app/routes/__root.tsx
  app/routes/privacy.tsx
  app/routes/terms.tsx
  cline_docs/activeContext.md
  cline_docs/progress.md
Due: type-check, lint

footer
  app/routes/privacy.tsx
  app/routes/terms.tsx
Due: type-check, lint

footer
  app/components/layouts/DefaultLayout.tsx
  app/components/marketing/Footer.tsx
Due: type-check, lint

working css
  app.config.ts
  app/components/ui/dropdown-menu.tsx
  app/styles/app.css
Due: type-check, lint

fixed header
  app/components/Navbar.tsx
  app/components/layouts/DefaultLayout.tsx
  app/styles/app.css
Due: type-check, lint

fixed footer
  app/components/marketing/Footer.tsx
Due: type-check, lint

fixed checkmark alignment
  app/components/tasks/TaskList.tsx
Due: type-check, lint

fixed sonner
  app/components/ui/sonner.tsx
  app/routes/__root.tsx
  bun.lockb
  package.json
Due: type-check, lint

fixed css loading
  .cursorrules
  README.md
  app.config.ts
  app/lib/security/cspRules.ts
  app/routes/__root.tsx
  app/styles/app.css
  bun.lockb
  package.json
  postcss.config.js
Due: type-check, lint

cleanup
  app/styles/app.css
Due: none

unit tetss
  app.config.ts
  app/server/db/__tests__/schema.test.ts
  app/server/db/schema.ts
  app/styles/app.css
  bun.lockb
  package.json
Due: type-check, lint, drizzle-check

storybook
  .storybook/main.css
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/tsconfig.json
  app/components/ui/alert.stories.tsx
  app/components/ui/avatar.stories.tsx
  app/components/ui/button.stories.tsx
  app/components/ui/card.stories.tsx
  app/components/ui/checkbox.stories.tsx
  app/components/ui/dialog.stories.tsx
  app/components/ui/input.stories.tsx
  app/components/ui/select.stories.tsx
Due: type-check, lint

tanstack update
  .vscode/settings.json
  app.config.ts
  app/middleware/auth-guard.ts
  app/routes/__root.tsx
  app/routes/api/test/auth.ts
  app/server/auth/auth.ts
  app/utils/env.ts
  app/utils/test/playwright.ts
  bun.lockb
  package.json
  patches/@tanstack%2Fstart-config@1.97.25.patch
  patches/@tanstack%2Fstart@1.95.4.patch
Due: type-check, lint

bundle fixing
  app.config.ts
  app/routes/__root.tsx
  app/server/auth/session.ts
  app/test/mocks/server-fn.ts
  app/test/setup.ts
  app/utils/query/queries.ts
  bun.lock
  bun.lockb
  package.json
  patches/@tanstack%2Fstart-config@1.98.0.patch
Due: type-check, lint

unit test fixes
  app.config.ts
  app/components/__tests__/TaskForm.test.tsx
  app/components/admin/TaskForm.tsx
  app/components/admin/UserForm.tsx
  app/functions/__tests__/base-service.test.ts
  app/functions/base-service.ts
  app/functions/helpers.ts
  app/functions/session.ts
  app/lib/vite/server-guard.ts
  app/server/db/__tests__/schema.test.ts
  app/server/db/schema.ts
  app/server/services/__tests__/base-service.test.ts
  app/server/services/__tests__/setup.ts
  app/test/setup.ts
  app/types/validation.ts
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/mutations.ts
  app/utils/query/queries.ts
Due: type-check, lint, drizzle-check

e2e test fixes
  app/functions/session.ts
Due: type-check, lint

tanstack script update
  app.config.ts
  app/components/ui/avatar.tsx
  app/router.tsx
  app/routes/__root.tsx
  bun.lock
  package.json
  patches/@tanstack%2Fstart-config@1.98.2.patch
  update-tanstack.mjs
Due: type-check, lint

backout react
  app.config.ts
  app/components/Navbar.tsx
  bun.lock
  package.json
  patches/@tanstack%2Fstart-config@1.98.2.patch
Due: type-check, lint

bun install
  .storybook/main.ts
  app.config.ts
  app/components/layouts/DefaultLayout.tsx
  app/components/ui/Button.tsx
  app/components/ui/Card.tsx
  app/components/ui/Container.tsx
  app/components/ui/Title.tsx
  app/components/ui/alert.tsx
  app/components/ui/avatar.tsx
  app/components/ui/badge.tsx
  app/components/ui/checkbox.tsx
  app/components/ui/dialog.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/form.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/popover.tsx
  app/components/ui/radio-group.tsx
  app/components/ui/scroll-area.tsx
  app/components/ui/select.tsx
  app/components/ui/sheet.tsx
  app/components/ui/skeleton.tsx
  app/components/ui/table.tsx
  app/components/ui/textarea.tsx
  app/routes/__root.tsx
  components.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: type-check, lint

disable serwist for now
  app.config.ts
  package.json
  shadcn plan
Due: lint

lockfile testing
  bun.lock
  bun.lockb
  package.json
Due: lint

lockfile testing
  package.json
Due: lint

lockfile testing
  app.config.ts
Due: lint

lockfile testing
  app/routes/__root.tsx
Due: type-check, lint

lockfile testing
  .vscode/settings.json
  bun.lockb
  package.json
Due: lint

Path conditions:
  type-check: any of: **/*.{ts,tsx}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  drizzle-check: any of: app/server/db/schema.ts
