Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "**/*.{ts,tsx}"
      run: bun run check-types
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run lint
    drizzle-check:
      glob: "app/server/db/schema.ts"
      run: bun drizzle:generate

playwright
  app/e2e/admin/access.test.ts
  app/e2e/admin/tasks.test.ts
  app/e2e/admin/users.test.ts
  app/e2e/auth/admin.setup.ts
  app/e2e/auth/member.setup.ts
  app/e2e/member/access.test.ts
  app/e2e/member/tasks.test.ts
  app/e2e/test.setup.ts
  app/env.ts
  app/middleware/auth-guard.ts
  app/routes/__root.tsx
  app/routes/api/test/auth.ts
  app/utils/auth-client.ts
  app/utils/query/queries.ts
  app/utils/test/mock-users.ts
  lefthook.yml
  playwright.config.ts
Due: type-check, lint

secret env fix
  app/server/auth/auth.ts
Due: type-check, lint

secret env fix 2
  app/server/auth/auth.ts
  app/utils/auth-client.ts
Due: type-check, lint

app.config opt
  app.config.ts
  app/routes/signin.tsx
Due: type-check, lint

cleanup
  README.md
  app/routes/index.tsx
Due: type-check, lint

github actions
  .github/workflows/biome.yml
  .github/workflows/check-types.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-tests.yml
  playwright.config.ts
Due: lint

github actions
  .github/workflows/check-types.yml
  .github/workflows/linting.yml
  .github/workflows/playwright.yml
  .github/workflows/type-check.yml
Due: none

github actions
  .env.example
  .github/workflows/biome.yml
  .github/workflows/check-types.yml
  .github/workflows/linting.yml
  .github/workflows/playwright.yml
  .github/workflows/type-check.yml
  .github/workflows/unit-tests.yml
  app/env.ts
  app/utils/query/__tests__/mocks/virtual-serwist.ts
  package.json
  playwright.config.ts
  vitest.config.ts
Due: type-check, lint

unpic
  app/lib/security/cspRules.ts
  app/routes/index.tsx
  bun.lockb
  package.json
Due: type-check, lint

updates
  bun.lockb
  package.json
Due: lint

updates
  app.config.ts
  bun.lockb
  package.json
Due: lint

cleanup
  app.config.ts
  bun.lockb
  package.json
Due: lint

crud orm functions
  app/server/db/schema.ts
  app/server/services/base-service.ts
  app/server/services/user-service.ts
Due: type-check, lint, drizzle-check

initial
  app/components/TaskForm.tsx
  app/components/__tests__/TaskForm.test.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  app/server/db/schema.ts
  app/server/services/base-service.ts
  app/server/services/task-service.ts
Due: type-check, lint, drizzle-check

generic create
  app/components/__tests__/TaskForm.test.tsx
  app/components/admin/TaskForm.tsx
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/tasks/new.tsx
  app/server/db/__tests__/schema.test.ts
  app/server/services/__tests__/task-service.test.ts
  app/server/services/task-service.ts
  app/server/services/user-service.ts
Due: type-check, lint

generic update
  app.config.ts
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/server/access/ability.ts
  app/server/db/schema.ts
  app/server/services/base-service.ts
  app/server/services/task-service.ts
  app/server/services/user-service.ts
Due: type-check, lint, drizzle-check

find first
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/server/services/base-service.ts
  app/server/services/task-service.ts
  app/server/services/user-service.ts
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/queries.ts
Due: type-check, lint

findMany
  app/components/tasks/TaskList.tsx
  app/server/db/DrizzleOrm.ts
  app/server/db/DrizzleOrm.txt
  app/server/services/__tests__/base-service.test.ts
  app/server/services/__tests__/task-service.test.ts
  app/server/services/base-service.ts
  app/server/services/base-service.txt
  app/server/services/task-service.ts
  app/server/services/user-service.ts
  app/utils/query/__tests__/queries.test.ts
  app/utils/query/queries.ts
Due: type-check, lint

tanstack query wrapper
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/utils/query/mutations.ts
Due: type-check, lint

update
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  app/utils/query/mutations.ts
Due: type-check, lint

refactor increment
  app/components/TaskForm.tsx
  app/components/__tests__/TaskForm.test.tsx
  app/components/admin/TaskForm.tsx
  app/components/admin/UserForm.tsx
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  app/server/db/__tests__/schema.test.ts
  app/server/db/schema.ts
  app/server/services/base-service.ts
  app/utils/query/mutations.ts
Due: type-check, lint, drizzle-check

refactor increment
  app/components/tasks/TaskList.tsx
  app/routes/admin/tasks/$taskId.tsx
  app/routes/admin/tasks/new.tsx
  app/routes/admin/users/$userId.tsx
  app/routes/tasks/$taskId.tsx
  app/routes/tasks/new.tsx
  app/utils/query/mutations.ts
Due: type-check, lint

abstract forms
  app/components/TaskForm.tsx
  app/components/__tests__/TaskForm.test.tsx
  app/components/admin/TaskForm.tsx
  app/components/admin/UserForm.tsx
  app/components/form/FormField.tsx
  app/components/form/FormGenerator.tsx
  app/components/form/types.ts
  app/e2e/admin/tasks.test.ts
Due: type-check, lint

axiom
  .env.example
  app/env.ts
  app/server/services/base-service.ts
  app/utils/logger.ts
  bun.lockb
  package.json
Due: type-check, lint

monitoring
  .env.example
  app.config.ts
  app/api.ts
  app/client.tsx
  app/env.ts
  app/lib/env-client.ts
  app/lib/monitoring/MonitoringProvider.tsx
  app/lib/monitoring/README.md
  app/lib/monitoring/hooks.ts
  app/lib/monitoring/index.ts
  app/lib/monitoring/rollbar.tsx
  app/lib/monitoring/types.ts
  app/lib/rollbar.ts
  app/lib/security/cspRules.ts
  app/routeTree.gen.ts
  app/routes/debug/monitoring.tsx
  app/routes/index.tsx
  app/ssr.tsx
  bun.lockb
  package.json
Due: type-check, lint

upload working
  .env.example
  .gitignore
  app.config.ts
  app/client.tsx
  app/env.ts
  app/lib/env-client.ts
  app/lib/env/environment.ts
  app/lib/env/release.ts
  app/lib/monitoring/index.ts
  app/server/auth/auth.ts
  app/types/vite-plugin-rollbar.d.ts
  app/utils/auth-client.ts
  biome.json
  bun.lockb
  package.json
Due: type-check, lint

double error checking
  app/components/DefaultCatchBoundary.tsx
  app/lib/monitoring/index.ts
  app/lib/monitoring/types.ts
Due: type-check, lint

release management
  README.md
  app/lib/monitoring/deploy.ts
  package.json
  scripts/post-build.ts
Due: type-check, lint

cleanup deployment
  app.config.ts
  app/client.tsx
  app/env.ts
  app/lib/env-client.ts
  app/lib/env/environment.ts
  app/lib/env/release.ts
  app/lib/monitoring/deploy.ts
  app/lib/monitoring/index.ts
  app/lib/monitoring/rollbar.tsx
  app/lib/rollbar.ts
  app/ssr.tsx
  scripts/post-build.ts
Due: type-check, lint

vitest update
  .env.example
  app.config.ts
  app/env.ts
  app/lib/monitoring/deploy.ts
  app/server/auth/auth.ts
  app/utils/auth-client.ts
  bun.lockb
  package.json
Due: type-check, lint

node version update
  .nvmrc
Due: none

rollbar lazy
  app/lib/monitoring/index.ts
Due: type-check, lint

cleanup
  app.config.ts
  app/client.tsx
  app/lib/env/environment.ts
  app/lib/monitoring/deploy.ts
  app/lib/monitoring/rollbar.tsx
Due: type-check, lint

fix user id
  .env.example
  app/components/TaskForm.tsx
Due: type-check, lint

working
  .env.example
  app.config.ts
  app/components/providers/analytics-provider.tsx
  app/env.ts
  app/lib/security/cspRules.ts
  app/routes/__root.tsx
  app/utils/analytics.ts
  bun.lockb
  package.json
Due: type-check, lint

working
  app/components/providers/analytics-provider.tsx
  app/utils/analytics.ts
Due: type-check, lint

posthog identify
  app/components/Navbar.tsx
  app/components/providers/analytics-provider.tsx
  app/lib/security/cspRules.ts
  app/routeTree.gen.ts
  app/routes/__root.tsx
  app/routes/signout.tsx
  app/utils/analytics.ts
  app/utils/env.ts
Due: type-check, lint

posthog pageview fix
  app/components/providers/analytics-provider.tsx
  app/components/tasks/TaskList.tsx
  app/routes/__root.tsx
  app/utils/analytics.ts
  app/utils/analytics.tsx
  app/utils/query/mutations.ts
Due: type-check, lint

duplicate url check
  app/utils/query/mutations.ts
Due: type-check, lint

docs
  app/utils/query/mutations.ts
Due: type-check, lint
