Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

type-check:
  run: bun run check-types
  fail_text: ❌ TypeScript errors found! Run 'bun run check-types' to see details. TypeScript errors cannot ship to production.

lint:
  run: bun run lint
  stage_fixed: true
  fail_text: ❌ Linting errors found! Most have been auto-fixed. Please review the changes and commit again.

drizzle-check:
  run: bun drizzle:generate
  fail_text: ❌ Database schema changed! Generated new migration. Please review the migration file before committing.

chore: hygiene quick fixes (layer 1)
  .cursorrules
  .github/workflows/biome.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .storybook/vitest.global-setup.ts
  CLAUDE.md
  Dockerfile
  biome.jsonc
  components.json
  docker-compose.yml
  docs/development/engineering-workflow.md
  package.json
  playwright.config.ts
  public/robots.txt
  scripts/audit-deps.sh
  src/emails/WelcomeEmail.stories.tsx
  src/functions/create-entity.ts
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/update-entity.ts
  src/routes/__root.tsx
  src/routes/signout.tsx
  src/types/__tests__/validation.test.ts
  src/types/validation.ts
  src/utils/logger.ts
  vitest.config.ts
Due: type-check, lint

chore: Bun 1.4.2 everywhere + Nitro bun preset, fix prod hydration
  .github/workflows/build.yml
  .github/workflows/check-stories.yml
  .github/workflows/check-tss-2.yml
  .github/workflows/check-tss-7.yml
  .github/workflows/check-types.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/static-analysis.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  bun.lock
  bunfig.toml
  env.config.ts
  nitro.config.ts
  package.json
  src/e2e/admin/emails.test.ts
  src/functions/__tests__/email-preview.test.ts
  src/functions/email-preview.tsx
  src/routes/admin/emails/welcome.tsx
  vite.config.ts
Due: type-check, lint

chore: knip + Betterleaks gates, seeded e2e users (layer 1c)
  .github/workflows/secret-scan.yml
  .github/workflows/static-analysis.yml
  CLAUDE.md
  bun.lock
  docs/development/engineering-workflow.md
  knip.jsonc
  lefthook.yml
  package.json
  playwright.config.ts
  scripts/check-e2e-specs.ts
  scripts/scan-secrets.sh
  src/e2e/TESTING_BEST_PRACTICES.md
  src/e2e/admin/access.test.ts
  src/e2e/admin/tasks.test.ts
  src/e2e/admin/users.test.ts
  src/e2e/auth.admin.setup.ts
  src/e2e/auth.setup.ts
  src/e2e/auth/admin.setup.ts
  src/e2e/auth/member.setup.ts
  src/e2e/auth/user.setup.ts
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/authenticated/admin-user.test.ts
  src/e2e/authenticated/task.test.ts
  src/e2e/global.setup.ts
  src/e2e/helpers/test-data.ts
  src/e2e/member/access.test.ts
  src/e2e/member/tasks.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/member/task-form.page.ts
  src/e2e/test.setup.ts
  src/middleware/auth-guard.ts
  src/server/auth/session.ts
  src/server/db/seed.ts
  src/utils/test/mock-users.ts
  src/utils/test/playwright-users.ts
  src/utils/test/playwright.ts
  turbo.json
Due: type-check, lint

build: run vite under Bun in the build script
  .github/workflows/build.yml
  package.json
Due: lint

chore: address layer 3 review (TSS-2 check scope, SW precache, docs)
  scripts/check-tss-2.sh
  scripts/vite-service-worker.ts
  src/functions/CLAUDE.md
  src/sw.ts
Due: type-check, lint

chore: build core: Vite 8.3.1 + TanStack Start 1.168.59, fix client leak, SSR 500 and service worker
  .claude/skills/tanstack-start/SKILL.md
  Dockerfile
  bun.lock
  docs/sessions/serwist_support.md
  knip.jsonc
  package.json
  scripts/generate-sw.ts
  scripts/vite-service-worker.ts
  src/functions/base-service.ts
  src/functions/create-entity.ts
  src/functions/delete-entity.ts
  src/functions/email-preview.tsx
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/session.ts
  src/functions/sse-trigger.ts
  src/functions/update-entity.ts
  src/functions/user-role.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/storybook/MockReactStart.ts
  src/sw.ts
  src/test/setup.ts
  vite.config.ts
Due: type-check, lint

docs: TSS-2 guidance and check for createServerOnlyFn handlers
  .claude/skills/tanstack-start/SKILL.md
  scripts/check-tss-2.sh
  src/functions/CLAUDE.md
Due: none

fix(storybook): make build-storybook build the preview, not the app (#52)
  .github/workflows/storybook-tests.yml
  .storybook/main.ts
Due: type-check, lint

fix(env): serve APP_ENV/PUBLIC_* to the browser at runtime (#50)
  env.config.ts
  src/e2e/public/public-env.test.ts
  src/lib/env/__tests__/public-env.test.ts
  src/lib/env/public-env.ts
  src/routes/__root.tsx
Due: type-check, lint

chore: TypeScript 7 stable, Node 24 LTS, exact pins and a self-contained runner image
  .github/workflows/build.yml
  .github/workflows/check-types.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-tests.yml
  .nvmrc
  .vscode/settings.json
  Dockerfile
  README.md
  bun.lock
  bunfig.toml
  docs/development/engineering-workflow.md
  knip.jsonc
  package.json
  tsconfig.json
Due: lint

chore: address layer 4 review (one-command release-age override, Node 24 types)
  bun.lock
  bunfig.toml
  package.json
Due: lint

ci: install with --frozen-lockfile in every workflow
  .github/workflows/build.yml
  .github/workflows/check-stories.yml
  .github/workflows/check-types.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/unit-tests.yml
Due: none

chore: hygiene quick fixes (layer 1) (#46)
  .cursorrules
  .github/workflows/biome.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .storybook/vitest.global-setup.ts
  CLAUDE.md
  Dockerfile
  biome.jsonc
  components.json
  docker-compose.yml
  docs/development/engineering-workflow.md
  package.json
  playwright.config.ts
  public/robots.txt
  scripts/audit-deps.sh
  src/emails/WelcomeEmail.stories.tsx
  src/functions/create-entity.ts
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/update-entity.ts
  src/routes/__root.tsx
  src/routes/signout.tsx
  src/types/__tests__/validation.test.ts
  src/types/validation.ts
  src/utils/logger.ts
  vitest.config.ts
Due: type-check, lint

chore: knip + Betterleaks gates, seeded e2e users (layer 1c) (#47)
  .github/workflows/secret-scan.yml
  .github/workflows/static-analysis.yml
  CLAUDE.md
  bun.lock
  docs/development/engineering-workflow.md
  knip.jsonc
  lefthook.yml
  package.json
  playwright.config.ts
  scripts/check-e2e-specs.ts
  scripts/scan-secrets.sh
  src/e2e/TESTING_BEST_PRACTICES.md
  src/e2e/admin/access.test.ts
  src/e2e/admin/tasks.test.ts
  src/e2e/admin/users.test.ts
  src/e2e/auth.admin.setup.ts
  src/e2e/auth.setup.ts
  src/e2e/auth/admin.setup.ts
  src/e2e/auth/member.setup.ts
  src/e2e/auth/user.setup.ts
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/authenticated/admin-user.test.ts
  src/e2e/authenticated/task.test.ts
  src/e2e/global.setup.ts
  src/e2e/helpers/test-data.ts
  src/e2e/member/access.test.ts
  src/e2e/member/tasks.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/member/task-form.page.ts
  src/e2e/test.setup.ts
  src/middleware/auth-guard.ts
  src/server/auth/session.ts
  src/server/db/seed.ts
  src/utils/test/mock-users.ts
  src/utils/test/playwright-users.ts
  src/utils/test/playwright.ts
  turbo.json
Due: type-check, lint

chore: build core: Vite 8.3.1 + TanStack Start current, fix client leak, SSR 500 and service worker (#49)
  .claude/skills/tanstack-start/SKILL.md
  .github/workflows/storybook-tests.yml
  .storybook/main.ts
  Dockerfile
  bun.lock
  docs/sessions/serwist_support.md
  env.config.ts
  knip.jsonc
  package.json
  scripts/check-tss-2.sh
  scripts/generate-sw.ts
  scripts/vite-service-worker.ts
  src/e2e/public/public-env.test.ts
  src/functions/CLAUDE.md
  src/functions/base-service.ts
  src/functions/create-entity.ts
  src/functions/delete-entity.ts
  src/functions/email-preview.tsx
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/session.ts
  src/functions/sse-trigger.ts
  src/functions/update-entity.ts
  src/functions/user-role.ts
  src/lib/env/__tests__/public-env.test.ts
  src/lib/env/public-env.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/storybook/MockReactStart.ts
  src/sw.ts
  src/test/setup.ts
  vite.config.ts
Due: type-check, lint

chore: Bun 1.4.2 everywhere + Nitro bun preset, fix prod hydration (#48)
  .github/workflows/build.yml
  .github/workflows/check-stories.yml
  .github/workflows/check-tss-2.yml
  .github/workflows/check-tss-7.yml
  .github/workflows/check-types.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/static-analysis.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  bun.lock
  bunfig.toml
  env.config.ts
  nitro.config.ts
  package.json
  src/e2e/admin/emails.test.ts
  src/functions/__tests__/email-preview.test.ts
  src/functions/email-preview.tsx
  src/routes/admin/emails/welcome.tsx
  vite.config.ts
Due: type-check, lint

chore: TypeScript 7 stable, Node 24 LTS, exact pins, 333 MB runner image (layer 4) (#53)
  .github/workflows/build.yml
  .github/workflows/check-stories.yml
  .github/workflows/check-types.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/unit-tests.yml
  .nvmrc
  .vscode/settings.json
  Dockerfile
  README.md
  bun.lock
  bunfig.toml
  docs/development/engineering-workflow.md
  knip.jsonc
  package.json
  tsconfig.json
Due: lint

fix: address review of PostHog error tracking (privacy, runtime key)
  src/lib/monitoring/README.md
  src/lib/monitoring/__tests__/sanitize.test.ts
  src/lib/monitoring/client.ts
  src/lib/monitoring/expected-errors.ts
  src/lib/monitoring/sanitize.ts
  src/server/monitoring/__tests__/posthog.test.ts
  src/server/monitoring/posthog.ts
Due: type-check, lint

fix: redact driver error messages and stack source lines from exception events
  src/lib/monitoring/README.md
  src/lib/monitoring/__tests__/sanitize.test.ts
  src/lib/monitoring/sanitize.ts
Due: type-check, lint

fix(auth): resolve client IP from Fly-Client-IP for rate limiting
  src/server/auth/__tests__/ip-address.test.ts
  src/server/auth/auth.ts
  src/server/auth/ip-address.ts
Due: type-check, lint

fix(auth): resolve client IP from Fly-Client-IP for rate limiting (#59)
  src/server/auth/__tests__/ip-address.test.ts
  src/server/auth/auth.ts
  src/server/auth/ip-address.ts
Due: type-check, lint

chore(deps): storybook 10.6.0, addon-coverage 3.0.2
  bun.lock
  package.json
Due: lint

chore(deps): vitest 4.1.11
  bun.lock
  package.json
Due: lint

chore(deps): @testing-library/jest-dom 7
  bun.lock
  package.json
Due: lint

chore(deps): @casl/ability 7 (MongoAbility replaces PureAbility)
  bun.lock
  package.json
  src/server/access/ability.ts
Due: type-check, lint

chore(deps): @axiomhq/js 2, nanoid 6
  bun.lock
  package.json
Due: lint

chore(deps): @vitest/coverage-v8 4.1.11 to match vitest
  bun.lock
  package.json
Due: lint

chore: remaining major deps (Storybook 10.6, CASL 7, Axiom 2, nanoid 6, jest-dom 7, vitest 4.1.11) (#56)
  bun.lock
  package.json
  src/server/access/ability.ts
Due: type-check, lint

chore: plugin-react 6 with the oxc React compiler, Lingui 6 via the Babel macro preset, drop compiled catalogs
  bun.lock
  knip.jsonc
  lingui.config.js
  package.json
  src/locales/en/messages.js
  src/locales/es/messages.js
  vite.config.ts
Due: lint

chore: plugin-react 6 with the oxc React compiler, Lingui 6 via the Babel macro preset, drop compiled catalogs (#57)
  bun.lock
  knip.jsonc
  lingui.config.js
  package.json
  src/locales/en/messages.js
  src/locales/es/messages.js
  vite.config.ts
Due: lint

test: Lingui macro and catalog transforms in the unit and storybook vitest projects
  vitest.config.ts
  vitest.unit.config.ts
Due: lint

chore(i18n): extract from src, drop line numbers, add lingui check scripts
  bun.lock
  lingui.config.js
  package.json
  src/locales/en/messages.po
  src/locales/es/messages.po
Due: lint

fix(i18n): per-request Lingui instance, locale from query/cookie/Accept-Language, router dehydrate/hydrate
  src/client.tsx
  src/lib/i18n/__tests__/middleware.test.ts
  src/lib/i18n/__tests__/resolve-locale.test.ts
  src/lib/i18n/locales.ts
  src/lib/i18n/middleware.ts
  src/lib/i18n/resolve-locale.ts
  src/lib/i18n/router-plugin.tsx
  src/locales/locale.ts
  src/router.tsx
  src/routes/__root.tsx
  src/server.ts
  src/start.ts
Due: type-check, lint

feat(i18n): language switcher (server-remembered), Storybook locale toolbar and provider
  .storybook/preview.tsx
  src/components/LocaleSwitcher.stories.tsx
  src/components/LocaleSwitcher.tsx
  src/components/Navbar.tsx
  src/functions/locale.ts
  src/storybook/MockLink.tsx
  vitest.config.ts
Due: type-check, lint

feat(i18n): macros on the index page, navbar and signin, es translations
  biome.jsonc
  lingui.config.js
  src/components/Navbar.stories.tsx
  src/components/Navbar.tsx
  src/lib/i18n/__tests__/catalog.test.tsx
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/routes/index.tsx
  src/routes/signin.tsx
Due: type-check, lint

docs(i18n): CI catalog check, locale e2e spec and i18n guide
  .github/workflows/static-analysis.yml
  docs/development/i18n.md
  src/e2e/public/i18n.test.ts
Due: type-check, lint

fix(i18n): vary and no-store on locale responses, tolerate malformed cookie and q values, latest-wins language switch
  src/components/LocaleSwitcher.tsx
  src/e2e/public/i18n.test.ts
  src/lib/i18n/__tests__/middleware.test.ts
  src/lib/i18n/__tests__/resolve-locale.test.ts
  src/lib/i18n/locales.ts
  src/lib/i18n/middleware.ts
  src/lib/i18n/resolve-locale.ts
Due: type-check, lint

fix(i18n): serialize locale saves, limit cookie and cache headers to documents, case-insensitive q
  src/components/LocaleSwitcher.tsx
  src/lib/i18n/__tests__/middleware.test.ts
  src/lib/i18n/__tests__/resolve-locale.test.ts
  src/lib/i18n/middleware.ts
  src/lib/i18n/resolve-locale.ts
Due: type-check, lint

Path conditions:
  type-check: any of: **/*.{ts,tsx}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  drizzle-check: any of: src/server/db/schema/**/*.{ts,tsx}
