Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    type-check:
      glob: "**/*.{ts,tsx}"
      run: bun run check-types
      fail_text: "❌ TypeScript errors found! Run 'bun run check-types' to see details. TypeScript errors cannot ship to production."

    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run lint
      stage_fixed: true
      fail_text: "❌ Linting errors found! Most have been auto-fixed. Please review the changes and commit again."

    drizzle-check:
      glob: "src/server/db/schema/**/*.{ts,tsx}"
      run: bun drizzle:generate
      fail_text: "❌ Database schema changed! Generated new migration. Please review the migration file before committing."

    storybook-coverage:
      glob: "src/**/*.{tsx,ts}"
      exclude: "**/*.{test,spec,stories}.{ts,tsx}"
      run: bun run check-stories
      fail_text: "❌ Missing Storybook stories detected! Components need stories for testing. Run 'bun run check-stories' to see which components need stories."

Revert "Fix useContextAwareServerFn hook call error with proper environment d…" (#22)
  src/utils/query/__tests__/queries.test.ts
  src/utils/query/queries.ts
Due: type-check, lint

tanstack rc
  bun.lock
  package.json
  src/client.tsx
  src/functions/__tests__/base-service.test.ts
  src/functions/base-service.ts
  src/functions/session.ts
  src/middleware/auth-guard.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/health.ts
  src/server.ts
  src/storybook/MockSSRServer.ts
  src/test/setup.ts
  src/utils/test/playwright.ts
  vite.config.ts
Due: type-check, lint

fix nitro
  bun.lock
  package.json
  vite.config.ts
Due: lint

Upgrade to TanStack RC (#23)
  bun.lock
  package.json
  src/client.tsx
  src/functions/__tests__/base-service.test.ts
  src/functions/base-service.ts
  src/functions/session.ts
  src/middleware/auth-guard.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/health.ts
  src/server.ts
  src/storybook/MockSSRServer.ts
  src/test/setup.ts
  src/utils/test/playwright.ts
  vite.config.ts
Due: type-check, lint

workflows
  .github/workflows/biome.yml
  .github/workflows/check-stories.yml
  .github/workflows/storybook-tests.yml
Due: none

no claude code signing
  CLAUDE.md
Due: none

Add GitHub workflows (#24)
  .github/workflows/biome.yml
  .github/workflows/check-stories.yml
  .github/workflows/storybook-tests.yml
  CLAUDE.md
Due: none

envin support
  .env.example
  .storybook/env.mock.ts
  .storybook/main.ts
  bun.lock
  env.config.ts
  package.json
  src/env.ts
  src/lib/env/environment.ts
  src/lib/env/release.ts
  src/lib/monitoring/index.ts
  src/routes/index.tsx
  src/server/auth/auth.ts
  src/utils/auth-client.ts
  src/validate-env.ts
  vite.config.ts
Due: type-check, lint

gemini code review
  .storybook/env.mock.ts
  CLAUDE.md
  src/env.ts
  src/server/auth/auth.ts
  src/server/db/migrate.ts
Due: type-check, lint

comments
  src/server/auth/auth.ts
  src/utils/auth-client.ts
Due: type-check, lint

Migrate to envin for type-safe environment variable validation (#25)
  .env.example
  .storybook/env.mock.ts
  .storybook/main.ts
  CLAUDE.md
  bun.lock
  env.config.ts
  package.json
  src/env.ts
  src/lib/env/environment.ts
  src/lib/env/release.ts
  src/lib/monitoring/index.ts
  src/routes/index.tsx
  src/server/auth/auth.ts
  src/server/db/migrate.ts
  src/utils/auth-client.ts
  src/validate-env.ts
  vite.config.ts
Due: type-check, lint

initial
  bun.lock
  package.json
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/api/auth/$.ts
  src/server/auth/auth.ts
  src/utils/query/queries.ts
  vite.config.ts
Due: type-check, lint

auth working
  bun.lock
  drizzle.config.ts
  src/routeTree.gen.ts
  src/routes/signup.tsx
  src/server/auth/auth.ts
  src/server/db/schema/auth.schema.ts
  src/server/db/schema/index.ts
  src/server/db/schema/task.schema.ts
Due: type-check, lint

role change
  src/components/Navbar.tsx
  src/functions/user-role.ts
  src/routeTree.gen.ts
  src/routes/admin.tsx
  src/routes/profile.tsx
Due: type-check, lint

Fix router devtools import by commenting out unused code
  bun.lock
  package.json
  src/routes/__root.tsx
Due: type-check, lint

Fix Better Auth production build issue
  vite.config.ts
Due: lint

Implement email/password authentication with role-based authorization (#26)
  bun.lock
  drizzle.config.ts
  package.json
  src/components/Navbar.tsx
  src/functions/user-role.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/admin.tsx
  src/routes/api/auth/$.ts
  src/routes/profile.tsx
  src/routes/signup.tsx
  src/server/auth/auth.ts
  src/server/db/schema/auth.schema.ts
  src/server/db/schema/index.ts
  src/server/db/schema/task.schema.ts
  src/utils/query/queries.ts
  vite.config.ts
Due: type-check, lint

fix types
  bun.lock
  package.json
  src/utils/query/mutations.ts
Due: type-check, lint

database access layer
  src/functions/CLAUDE.md
  src/functions/user-role.ts
  src/functions/user.db.ts
Due: type-check, lint

Add Content Security Policy (CSP) configuration using @enalmada/start-secure
  bun.lock
  package.json
  src/config/cspRules.ts
  src/server.ts
  src/server/auth/auth.ts
Due: type-check, lint

Remove redundant security directory and update documentation
  README.md
  src/lib/security/cspRules.ts
  src/lib/security/generate.ts
  src/lib/security/types.ts
Due: type-check, lint

Clean up and fix README.md documentation
  README.md
Due: none

update rules
  src/config/cspRules.ts
Due: type-check, lint

cleanup
  src/functions/CLAUDE.md
Due: none

Add Content Security Policy (CSP) configuration (#27)
  README.md
  bun.lock
  package.json
  src/config/cspRules.ts
  src/functions/CLAUDE.md
  src/functions/user-role.ts
  src/functions/user.db.ts
  src/lib/security/generate.ts
  src/lib/security/types.ts
  src/server.ts
  src/server/auth/auth.ts
  src/utils/query/mutations.ts
Due: type-check, lint

some updates
  .env.test.local
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/vitest.setup.ts
  biome.jsonc
  bun.lock
  package.json
  src/components/Spinner.stories.tsx
  src/components/Spinner.tsx
  src/components/admin/EntityList.stories.tsx
  src/components/admin/TaskForm.stories.tsx
  src/components/admin/UserForm.stories.tsx
  src/components/form/FormField.stories.tsx
  src/components/form/FormGenerator.stories.tsx
  src/components/tasks/TaskStatusBadge.stories.tsx
  src/e2e/global.setup.ts
  src/e2e/test.setup.ts
  src/emails/WelcomeEmail.stories.tsx
  src/emails/WelcomeEmail.tsx
  src/polyfills/process.ts
  src/polyfills/use-sync-external-store-shim.ts
  src/server/auth/auth.ts
  src/storybook/MockReactStart.ts
  src/storybook/MockServerFunctions.ts
  src/test/setup.ts
  src/utils/auth-client.ts
  src/utils/test/mock-users.ts
  src/utils/test/playwright.ts
  vite.config.ts
  vitest.config.ts
  vitest.workspace.ts
Due: type-check, lint

storybook 10
  .storybook/main.ts
  bun.lock
  package.json
  src/emails/WelcomeEmail.stories.tsx
Due: type-check, lint

tanstack upgrade
  bun.lock
  package.json
  src/server/db/schema/auth.schema.ts
  src/server/db/schema/task.schema.ts
Due: type-check, lint

update better-auth
  bun.lock
  package.json
  src/routes/profile.tsx
Due: type-check, lint

code review
  src/components/Spinner.stories.tsx
  src/components/Spinner.tsx
  src/test/setup.ts
Due: type-check, lint

Dependency Updates: Storybook 10, TanStack, Vitest 4, and better-auth (#28)
  .env.test.local
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/vitest.setup.ts
  biome.jsonc
  bun.lock
  package.json
  src/components/Spinner.stories.tsx
  src/components/Spinner.tsx
  src/components/admin/EntityList.stories.tsx
  src/components/admin/TaskForm.stories.tsx
  src/components/admin/UserForm.stories.tsx
  src/components/form/FormField.stories.tsx
  src/components/form/FormGenerator.stories.tsx
  src/components/tasks/TaskStatusBadge.stories.tsx
  src/e2e/global.setup.ts
  src/e2e/test.setup.ts
  src/emails/WelcomeEmail.stories.tsx
  src/emails/WelcomeEmail.tsx
  src/polyfills/process.ts
  src/polyfills/use-sync-external-store-shim.ts
  src/routes/profile.tsx
  src/server/auth/auth.ts
  src/server/db/schema/auth.schema.ts
  src/server/db/schema/task.schema.ts
  src/storybook/MockReactStart.ts
  src/storybook/MockServerFunctions.ts
  src/test/setup.ts
  src/utils/auth-client.ts
  src/utils/test/mock-users.ts
  src/utils/test/playwright.ts
  vite.config.ts
  vitest.config.ts
  vitest.workspace.ts
Due: type-check, lint

updates
  .claude/commands/plan.md
  .claude/commands/pr.md
  .claude/commands/respond.md
  .claude/commands/review.md
  .plan/plans/tanstack_csp/EXTRACTION.md
  .plan/plans/tanstack_csp/IMPLEMENTATION.md
  .plan/plans/tanstack_csp/PACKAGE_API_DESIGN.md
  .plan/plans/tanstack_csp/README.md
  src/config/cspRules.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/server.ts
  src/start.ts
Due: type-check, lint

start-secure
  bun.lock
  package.json
Due: lint

readme updates
  README.md
Due: none

donet use 100 locally
  playwright.config.ts
Due: lint

testing updates
  src/e2e/TESTING_BEST_PRACTICES.md
  src/e2e/admin/access.test.ts
  src/e2e/admin/tasks.test.ts
  src/e2e/admin/users.test.ts
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/member/access.test.ts
  src/e2e/member/tasks.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/admin/tasks-list.page.ts
  src/e2e/pages/admin/users.page.ts
  src/e2e/pages/base.page.ts
  src/e2e/pages/member/task-form.page.ts
  src/e2e/pages/member/tasks-list.page.ts
  src/e2e/pages/public/marketing.page.ts
  src/e2e/public/marketing.test.ts
Due: type-check, lint

code review
  .claude/commands/respond.md
  .plan/plans/tanstack_csp/README.md
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/pages/admin/task-form.page.ts
Due: type-check, lint

code review
  src/e2e/pages/admin/tasks-list.page.ts
  src/e2e/pages/base.page.ts
  src/e2e/pages/member/tasks-list.page.ts
  src/e2e/pages/public/marketing.page.ts
Due: type-check, lint

code review
  .plan/plans/tanstack_csp/EXTRACTION.md
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/base.page.ts
Due: type-check, lint

docs: document AsyncLocalStorage bug in CSP nonce implementation
  .plan/plans/tanstack_csp/CRITICAL-BUG.md
  .plan/plans/tanstack_csp/IMPLEMENTATION.md
Due: none
