Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

type-check:
  run: bun run check-types
  fail_text: ❌ TypeScript errors found! Run 'bun run check-types' to see details. TypeScript errors cannot ship to production.

lint:
  run: bun run lint
  stage_fixed: true
  fail_text: ❌ Linting errors found! Most have been auto-fixed. Please review the changes and commit again.

drizzle-check:
  run: bun drizzle:generate
  fail_text: ❌ Database schema changed! Generated new migration. Please review the migration file before committing.

fix: implement AsyncLocalStorage workaround for CSP nonce access
  src/router.tsx
Due: type-check, lint

docs: update plan README with bug status and next steps
  .plan/plans/tanstack_csp/README.md
Due: none

chore: remove debug logging from router
  src/router.tsx
Due: type-check, lint

fix: use dynamic import for server-only context access and remove CSP warnings
  src/config/cspRules.ts
  src/router.tsx
Due: type-check, lint

docs: update internal CSP documentation to reflect resolved state
  .plan/plans/tanstack_csp/CRITICAL-BUG.md
  .plan/plans/tanstack_csp/IMPLEMENTATION.md
  .plan/plans/tanstack_csp/README.md
Due: none

update
  bun.lock
  package.json
Due: lint

feat: Implement native CSP with per-request nonce support (#29)
  .claude/commands/plan.md
  .claude/commands/pr.md
  .claude/commands/respond.md
  .claude/commands/review.md
  .plan/plans/tanstack_csp/CRITICAL-BUG.md
  .plan/plans/tanstack_csp/EXTRACTION.md
  .plan/plans/tanstack_csp/IMPLEMENTATION.md
  .plan/plans/tanstack_csp/PACKAGE_API_DESIGN.md
  .plan/plans/tanstack_csp/README.md
  README.md
  bun.lock
  package.json
  playwright.config.ts
  src/config/cspRules.ts
  src/e2e/TESTING_BEST_PRACTICES.md
  src/e2e/admin/access.test.ts
  src/e2e/admin/tasks.test.ts
  src/e2e/admin/users.test.ts
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/member/access.test.ts
  src/e2e/member/tasks.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/admin/tasks-list.page.ts
  src/e2e/pages/admin/users.page.ts
  src/e2e/pages/base.page.ts
  src/e2e/pages/member/task-form.page.ts
  src/e2e/pages/member/tasks-list.page.ts
  src/e2e/pages/public/marketing.page.ts
  src/e2e/public/marketing.test.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/server.ts
  src/start.ts
Due: type-check, lint

fix: Implement Serwist post-build workaround for Nitro v3
  package.json
  scripts/generate-sw.ts
  src/routes/__root.tsx
  vite.config.ts
Due: type-check, lint

lock fix
  bun.lock
Due: none

docs: Fix misleading comment and update session documentation
  docs/sessions/serwist_support.md
  src/routes/__root.tsx
Due: type-check, lint

docs update
  docs/sessions/serwist_support.md
  src/sw.ts
Due: type-check, lint

fix: Implement Serwist post-build workaround for Nitro v3 (#30)
  bun.lock
  docs/sessions/serwist_support.md
  package.json
  scripts/generate-sw.ts
  src/routes/__root.tsx
  src/sw.ts
  vite.config.ts
Due: type-check, lint

feat: Enable PWA service worker in production
  src/routes/__root.tsx
Due: type-check, lint

feat: Enable PWA service worker in production (#31)
  src/routes/__root.tsx
Due: type-check, lint

chore: Update dependencies (2025-11-08)
  bun.lock
  package.json
Due: lint

chore: Update Biome schema to version 2.3.4
  biome.jsonc
Due: lint

Dependency Updates (2025-11-08) (#32)
  biome.jsonc
  bun.lock
  package.json
Due: lint

Add real-time streaming demo using @enalmada/start-streaming
  README.md
  src/functions/streaming.ts
  src/routeTree.gen.ts
  src/routes/debug/streaming.tsx
  src/server/lib/events.ts
Due: type-check, lint

Add streaming demo link to homepage
  src/routes/index.tsx
Due: type-check, lint

Fix SSR issue - make streaming client-only
  src/routes/debug/streaming.tsx
Due: type-check, lint

Use useAutoReconnectStream to avoid SSR QueryClient issue
  src/routes/debug/streaming.tsx
Due: type-check, lint

Add debugging and fix function reference stability
  src/routes/debug/streaming.tsx
Due: type-check, lint

Fix SSR hang - make streaming completely client-only
  src/routes/debug/streaming.tsx
Due: type-check, lint

Add console logging back with proper types
  src/routes/debug/streaming.tsx
Due: type-check, lint

Fix SSR with React.lazy() - split into separate files
  src/routes/debug/streaming-client.tsx
  src/routes/debug/streaming.tsx
Due: type-check, lint

Move streaming-client out of routes directory
  src/components/debug/streaming-client.tsx
  src/routes/debug/streaming.tsx
Due: type-check, lint

Fix: Ensure proper cleanup of streaming subscriptions
  src/functions/streaming.ts
  src/routes/debug/streaming-client.tsx
Due: type-check, lint

Fix: Remove lazy loading to avoid SSR circular dependency
  src/components/debug/streaming-client.tsx
  src/routes/debug/streaming.tsx
Due: type-check, lint

Improve streaming demo with best practices from code review
  STREAMING_REVIEW.md
  src/functions/streaming.ts
  src/routes/debug/streaming.tsx
  src/server/lib/events.ts
Due: type-check, lint

Fix: Accept null/undefined in input validation
  src/functions/streaming.ts
Due: type-check, lint

Fix: Separate types from server implementation to avoid Node.js imports in browser
  src/routes/debug/streaming.tsx
  src/server/lib/events.ts
  src/server/lib/events.types.ts
Due: type-check, lint

docs: Document Node.js import issue and solution in review
  STREAMING_REVIEW.md
Due: none

docs: Add comprehensive streaming implementation code review
  bun.lock
  docs/sessions/streaming.md
  package.json
  src/functions/streaming.ts
  vite.config.ts
Due: type-check, lint

refactor: Replace start-streaming with better-sse
  bun.lock
  package.json
  src/functions/sse-trigger.ts
  src/functions/streaming.ts
  src/routes/api/sse/notifications.ts
  src/routes/debug/streaming-sse.tsx
  src/server/lib/events.ts
  src/server/lib/events.types.ts
  src/server/lib/sse-channel.ts
  vite.config.ts
Due: type-check, lint

docs: Update README to reference better-sse instead of start-streaming
  README.md
Due: none

fix: Update homepage link to new streaming-sse demo page
  src/routes/index.tsx
Due: type-check, lint

fix: Use createResponse for Fetch API SSE sessions
  STREAMING_REVIEW.md
  src/routeTree.gen.ts
  src/routes/api/sse/notifications.ts
Due: type-check, lint

docs: Clarify auto-deregistration in SSE handler
  src/routes/api/sse/notifications.ts
Due: type-check, lint

Add Server-Sent Events (SSE) streaming with better-sse (#33)
  README.md
  bun.lock
  docs/sessions/streaming.md
  package.json
  src/functions/sse-trigger.ts
  src/routeTree.gen.ts
  src/routes/api/sse/notifications.ts
  src/routes/debug/streaming-sse.tsx
  src/routes/index.tsx
  src/server/lib/sse-channel.ts
Due: type-check, lint

Path conditions:
  type-check: any of: **/*.{ts,tsx}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  drizzle-check: any of: src/server/db/schema/**/*.{ts,tsx}
