Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "**/*.{ts,tsx}"
      run: bun run check-types
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run lint
    drizzle-check:
      glob: "app/server/db/schema.ts"
      run: bun drizzle:generate

vs code settings
  .vscode/settings.json
Due: lint

theme toggle
  app/components/Navbar.tsx
  app/components/ThemeToggle.tsx
  app/routes/__root.tsx
Due: type-check, lint

theme toggle
  app/components/layouts/AdminLayout.tsx
  app/routes/__root.tsx
  app/styles/app.css
  biome.json
  package.json
Due: type-check, lint

dark mode improved colors
  app/styles/app.css
Due: none

light mode improved colors
  app/components/Navbar.tsx
  app/components/marketing/Footer.tsx
  app/styles/app.css
Due: type-check, lint

improved dark mode colors
  app/components/marketing/Footer.tsx
  app/routes/signin.tsx
Due: type-check, lint

dependency updates
  app.config.ts
  app/functions/session.ts
  app/middleware/auth-guard.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/api/test/auth.ts
  app/server/auth/auth.ts
  app/utils/test/playwright.ts
  bun.lockb
  package.json
  patches/@tanstack%2Fstart@1.95.4.patch
Due: type-check, lint

direct app source
  app/styles/app.css
Due: none

cloudflare externals
  app.config.ts
Due: lint

better-auth exclusion fixes
  app.config.ts
Due: lint

better-auth exclusion fixes test 2
  app.config.ts
Due: lint

better-auth exclusion fixes test 3
  app.config.ts
  app/lib/vite/server-guard-config.ts
  app/lib/vite/server-guard.ts
Due: type-check, lint

fixed server client bundling bug
  app.config.ts
  app/functions/__tests__/base-service.test.ts
  app/functions/base-service.ts
  app/routes/admin.tsx
  app/test/setup.ts
Due: type-check, lint

fixed build issue externals
  app.config.ts
Due: lint

dependency updates
  bun.lockb
  package.json
Due: lint

tailwind/vite
  .storybook/vite.config.ts
  app.config.ts
  bun.lockb
  components.json
  package.json
Due: type-check, lint

postcss workaround
  bun.lockb
  package.json
Due: lint

dependency updates
  .dockerignore
  .github/workflows/fly-deploy.yml
  Dockerfile
  app.config.ts
  app/api.ts
  app/client.tsx
  app/components/form/FormField.tsx
  app/components/form/FormGenerator.tsx
  app/functions/__tests__/base-service.test.ts
  app/functions/base-service.ts
  app/functions/session.ts
  app/lib/monitoring/index.ts
  app/middleware/auth-guard.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/admin/emails/welcome.tsx
  app/routes/api/auth/$.ts
  app/routes/api/test/auth.ts
  app/routes/api/test/clear-tasks.ts
  app/ssr.tsx
  app/test/setup.ts
  app/utils/date.ts
  app/utils/test/playwright.ts
  bun.lockb
  fly.toml
  package.json
  update-tanstack.mjs
Due: type-check, lint

bun 1.2 update
  Dockerfile
  app.config.ts
  bun.lock
  bun.lockb
  package.json
Due: lint

fly review apps
  .github/workflows/check-types.yml
  .github/workflows/fly-review.yml
Due: none

fly review apps
  .dockerignore
Due: none

fly review apps
  app/utils/query/__tests__/queries.test.ts
  bun.lock
  package.json
Due: type-check, lint

fly review apps
  .github/workflows/fly-deploy.yml
Due: none

lefthook
  lefthook.yml
Due: none

playwright fixes
  lefthook.yml
  package.json
  playwright.config.ts
  scripts/check-component-coverage.cjs
  src/e2e/public/marketing.test.ts
Due: type-check, lint

better git ignore
  .gitignore
Due: none

check cache
  debug-storybook.log
Due: none

chekc cache
  .clinerules
  .gitignore
  cline_docs/activeContext.md
  cline_docs/productContext.md
  cline_docs/progress.md
  cline_docs/systemPatterns.md
  cline_docs/techContext.md
  turbo.json
  update-tanstack.mjs
Due: lint

run necessary env
  .github/workflows/playwright.yml
Due: none

playwright env
  playwright.config.ts
Due: lint

testing
  playwright.config.ts
Due: lint

code complete
  src/utils/query/queries.ts
Due: type-check, lint

better context checking
  src/utils/query/__tests__/queries.test.ts
  src/utils/query/queries.ts
Due: type-check, lint

Fix useContextAwareServerFn hook call error with proper environment detection (#21)
  src/utils/query/__tests__/queries.test.ts
  src/utils/query/queries.ts
Due: type-check, lint

Revert "Fix useContextAwareServerFn hook call error with proper environment d…"
  src/utils/query/__tests__/queries.test.ts
  src/utils/query/queries.ts
Due: type-check, lint
