Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

type-check:
  run: bun run check-types
  fail_text: ❌ TypeScript errors found! Run 'bun run check-types' to see details. TypeScript errors cannot ship to production.

lint:
  run: bun run lint
  stage_fixed: true
  fail_text: ❌ Linting errors found! Most have been auto-fixed. Please review the changes and commit again.

drizzle-check:
  run: bun drizzle:generate
  fail_text: ❌ Database schema changed! Generated new migration. Please review the migration file before committing.

refactor(auth): namespace dynamic imports for vi.spyOn intercept
  src/server/auth/request.ts
  src/server/auth/session.ts
Due: type-check, lint

fix(check-tss-2): use rg + PCRE lookaheads for multi-line carve-outs
  .github/workflows/check-tss-2.yml
  scripts/check-tss-2.sh
Due: none

docs(skill): document Vitest mock limitation + check-tss-2 internals
  .claude/skills/tanstack-start/SKILL.md
Due: none

feat: add TSS-7 mechanical check for bypassed auth helpers
  .github/workflows/check-tss-7.yml
  package.json
  scripts/check-tss-7.sh
  turbo.json
Due: lint

test(setup): duck-typed Response mock + makeMockSessionResponse factory
  src/functions/__tests__/base-service.test.ts
  src/test/setup.ts
Due: type-check, lint

fix: address PR #40 review feedback (middleware leak + TSS-7 robustness)
  scripts/check-tss-7.sh
  src/server/access/middleware.ts
Due: type-check, lint

ci(check-tss-2): apt-get install ripgrep (not preinstalled on ubuntu-latest)
  .claude/skills/tanstack-start/SKILL.md
  .github/workflows/check-tss-2.yml
Due: none

chore: refinements from gell-v2 backport (PR #190) — regex correctness + POSIX portability + test-mock Date fidelity (#40)
  .claude/skills/tanstack-start/SKILL.md
  .github/workflows/check-tss-2.yml
  .github/workflows/check-tss-7.yml
  package.json
  scripts/check-tss-2.sh
  scripts/check-tss-7.sh
  src/functions/__tests__/base-service.test.ts
  src/server/access/middleware.ts
  src/server/auth/request.ts
  src/server/auth/session.ts
  src/test/setup.ts
  turbo.json
Due: type-check, lint

chore: migrate type-checking to TS 7 (tsgo) and bump lucide-react to v1
  .vscode/extensions.json
  .vscode/settings.json
  bun.lock
  package.json
  src/routeTree.gen.ts
  src/routes/profile.tsx
  tsconfig.json
Due: type-check, lint

fix(profile): re-sync optimistic user state when loader data changes
  src/routes/profile.tsx
Due: type-check, lint

chore(deps): bundle in-major dependency upgrades
  bun.lock
  package.json
  src/components/tasks/TaskListError.tsx
  src/components/ui/alert.tsx
  src/components/ui/avatar.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/components/ui/tanstack-form.tsx
Due: type-check, lint

chore: sync biome config schema to 2.4.16
  biome.jsonc
Due: lint

chore(deps): upgrade @base-ui/react to 1.5
  bun.lock
  package.json
  src/components/__tests__/TaskForm.test.tsx
Due: type-check, lint

chore(deps): upgrade rollbar to 3 and react-email to 6
  bun.lock
  package.json
  src/lib/monitoring/MonitoringProvider.tsx
  src/lib/monitoring/hooks.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/rollbar.tsx
Due: type-check, lint

chore: TS 7 (tsgo) + lucide v1 + bundled dependency upgrades (#41)
  .vscode/extensions.json
  .vscode/settings.json
  biome.jsonc
  bun.lock
  package.json
  src/components/__tests__/TaskForm.test.tsx
  src/components/tasks/TaskListError.tsx
  src/components/ui/alert.tsx
  src/components/ui/avatar.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/components/ui/tanstack-form.tsx
  src/lib/monitoring/MonitoringProvider.tsx
  src/lib/monitoring/hooks.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/rollbar.tsx
  src/routeTree.gen.ts
  src/routes/profile.tsx
  tsconfig.json
Due: type-check, lint

chore: add agent-browser skill for browser automation/verification
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/agent-browser/references/authentication.md
  .claude/skills/agent-browser/references/commands.md
  .claude/skills/agent-browser/references/profiling.md
  .claude/skills/agent-browser/references/proxy-support.md
  .claude/skills/agent-browser/references/session-management.md
  .claude/skills/agent-browser/references/snapshot-refs.md
  .claude/skills/agent-browser/references/video-recording.md
  .claude/skills/agent-browser/templates/authenticated-session.sh
  .claude/skills/agent-browser/templates/capture-workflow.sh
  .claude/skills/agent-browser/templates/form-automation.sh
Due: none

chore: add agent-browser skill for browser automation/verification (#42)
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/agent-browser/references/authentication.md
  .claude/skills/agent-browser/references/commands.md
  .claude/skills/agent-browser/references/profiling.md
  .claude/skills/agent-browser/references/proxy-support.md
  .claude/skills/agent-browser/references/session-management.md
  .claude/skills/agent-browser/references/snapshot-refs.md
  .claude/skills/agent-browser/references/video-recording.md
  .claude/skills/agent-browser/templates/authenticated-session.sh
  .claude/skills/agent-browser/templates/capture-workflow.sh
  .claude/skills/agent-browser/templates/form-automation.sh
Due: none

chore(biome): exclude agent tooling dirs (.agents, .claude) from lint
  biome.jsonc
Due: lint

chore(biome): exclude agent tooling dirs (.agents, .claude) from lint (#43)
  biome.jsonc
Due: lint

ci: add production build gate
  .github/workflows/build.yml
Due: none

ci(fly-review): gate previews on label; stop late runs recreating closed PR envs
  .github/workflows/fly-review.yml
  docs/development/engineering-workflow.md
Due: none

fix(security): harden auth, role changes and generic CRUD reads
  .env.example
  README.md
  bun.lock
  env.config.ts
  package.json
  src/functions/CLAUDE.md
  src/functions/__tests__/crud-authz.test.ts
  src/functions/__tests__/user-role.test.ts
  src/functions/base-service.ts
  src/functions/delete-entity.ts
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/sse-trigger.ts
  src/functions/update-entity.ts
  src/functions/user-role.ts
  src/routes/profile.tsx
  src/server/access/__tests__/read-filter.test.ts
  src/server/access/__tests__/role-self-service.test.ts
  src/server/access/read-filter.ts
  src/server/access/role-self-service.ts
  src/server/auth/__tests__/user-fields.test.ts
  src/server/auth/admin-emails.ts
  src/server/auth/auth.ts
  src/server/auth/user-fields.ts
  src/server/db/index.ts
Due: type-check, lint

fix(security): guard CRUD writes against concurrent changes; add CSRF check for server functions
  src/functions/__tests__/crud-authz.test.ts
  src/functions/delete-entity.ts
  src/functions/update-entity.ts
  src/server/access/write-guard.ts
  src/start.ts
Due: type-check, lint

test(crud-authz): assert update/delete write through the authorized-row predicate
  src/functions/__tests__/crud-authz.test.ts
Due: type-check, lint

chore: hygiene quick fixes (layer 1)
  .cursorrules
  .github/workflows/biome.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .storybook/vitest.global-setup.ts
  CLAUDE.md
  Dockerfile
  biome.jsonc
  components.json
  docker-compose.yml
  docs/development/engineering-workflow.md
  package.json
  playwright.config.ts
  public/robots.txt
  scripts/audit-deps.sh
  src/emails/WelcomeEmail.stories.tsx
  src/functions/create-entity.ts
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/update-entity.ts
  src/routes/__root.tsx
  src/routes/signout.tsx
  src/types/__tests__/validation.test.ts
  src/types/validation.ts
  src/utils/logger.ts
  vitest.config.ts
Due: type-check, lint

chore: knip + Betterleaks gates, seeded e2e users (layer 1c)
  .github/workflows/secret-scan.yml
  .github/workflows/static-analysis.yml
  CLAUDE.md
  bun.lock
  docs/development/engineering-workflow.md
  knip.jsonc
  lefthook.yml
  package.json
  playwright.config.ts
  scripts/check-e2e-specs.ts
  scripts/scan-secrets.sh
  src/e2e/TESTING_BEST_PRACTICES.md
  src/e2e/admin/access.test.ts
  src/e2e/admin/tasks.test.ts
  src/e2e/admin/users.test.ts
  src/e2e/auth.admin.setup.ts
  src/e2e/auth.setup.ts
  src/e2e/auth/admin.setup.ts
  src/e2e/auth/member.setup.ts
  src/e2e/auth/user.setup.ts
  src/e2e/authenticated/admin-task.test.ts
  src/e2e/authenticated/admin-user.test.ts
  src/e2e/authenticated/task.test.ts
  src/e2e/global.setup.ts
  src/e2e/helpers/test-data.ts
  src/e2e/member/access.test.ts
  src/e2e/member/tasks.test.ts
  src/e2e/pages/admin/task-form.page.ts
  src/e2e/pages/member/task-form.page.ts
  src/e2e/test.setup.ts
  src/middleware/auth-guard.ts
  src/server/auth/session.ts
  src/server/db/seed.ts
  src/utils/test/mock-users.ts
  src/utils/test/playwright-users.ts
  src/utils/test/playwright.ts
  turbo.json
Due: type-check, lint

chore: Bun 1.4.2 everywhere + Nitro bun preset, fix prod hydration
  .github/workflows/build.yml
  .github/workflows/check-stories.yml
  .github/workflows/check-tss-2.yml
  .github/workflows/check-tss-7.yml
  .github/workflows/check-types.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/playwright.yml
  .github/workflows/static-analysis.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  bun.lock
  bunfig.toml
  env.config.ts
  nitro.config.ts
  package.json
  src/e2e/admin/emails.test.ts
  src/functions/__tests__/email-preview.test.ts
  src/functions/email-preview.tsx
  src/routes/admin/emails/welcome.tsx
  vite.config.ts
Due: type-check, lint

chore: build core: Vite 8.3.1 + TanStack Start 1.168.59, fix client leak, SSR 500 and service worker
  .claude/skills/tanstack-start/SKILL.md
  Dockerfile
  bun.lock
  docs/sessions/serwist_support.md
  knip.jsonc
  package.json
  scripts/generate-sw.ts
  scripts/vite-service-worker.ts
  src/functions/base-service.ts
  src/functions/create-entity.ts
  src/functions/delete-entity.ts
  src/functions/email-preview.tsx
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/session.ts
  src/functions/sse-trigger.ts
  src/functions/update-entity.ts
  src/functions/user-role.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/storybook/MockReactStart.ts
  src/sw.ts
  src/test/setup.ts
  vite.config.ts
Due: type-check, lint

docs: TSS-2 guidance and check for createServerOnlyFn handlers
  .claude/skills/tanstack-start/SKILL.md
  scripts/check-tss-2.sh
  src/functions/CLAUDE.md
Due: none

chore: address layer 3 review (TSS-2 check scope, SW precache, docs)
  scripts/check-tss-2.sh
  scripts/vite-service-worker.ts
  src/functions/CLAUDE.md
  src/sw.ts
Due: type-check, lint

fix(env): serve APP_ENV/PUBLIC_* to the browser at runtime
  env.config.ts
  src/lib/env/__tests__/public-env.test.ts
  src/lib/env/public-env.ts
  src/routes/__root.tsx
Due: type-check, lint

fix(monitoring): upload client source maps to Rollbar during vite build
  .env.example
  .github/workflows/build.yml
  scripts/vite-rollbar-sourcemaps.ts
  src/client.tsx
  src/lib/env/__tests__/build-release.test.ts
  src/lib/env/build-release.ts
  src/lib/monitoring/README.md
  src/lib/monitoring/deploy.ts
  vite.config.ts
Due: type-check, lint

test(e2e): guard the runtime public env SSR contract
  src/e2e/public/public-env.test.ts
Due: type-check, lint

test(e2e): note the public env spec can't tell snapshot from dev fallback
  src/e2e/public/public-env.test.ts
Due: type-check, lint

fix(storybook): make `build-storybook` build the preview, not the app
  .github/workflows/storybook-tests.yml
  .storybook/main.ts
Due: type-check, lint

ci(storybook): also trigger on scripts/vite-service-worker.ts
  .github/workflows/storybook-tests.yml
Due: none

ci: address Sol/Grok review of the CI prerequisites
  .github/workflows/build.yml
  .github/workflows/fly-review.yml
  docs/development/engineering-workflow.md
Due: none

ci: build gate on latest Bun; Fly cleanup runs after a Neon failure
  .github/workflows/build.yml
  .github/workflows/fly-review.yml
Due: none

fix(security): harden auth, admin role changes and generic CRUD access (#45)
  .env.example
  README.md
  bun.lock
  env.config.ts
  package.json
  src/functions/CLAUDE.md
  src/functions/__tests__/crud-authz.test.ts
  src/functions/__tests__/user-role.test.ts
  src/functions/base-service.ts
  src/functions/delete-entity.ts
  src/functions/find-first.ts
  src/functions/find-many.ts
  src/functions/sse-trigger.ts
  src/functions/update-entity.ts
  src/functions/user-role.ts
  src/routes/profile.tsx
  src/server/access/__tests__/read-filter.test.ts
  src/server/access/__tests__/role-self-service.test.ts
  src/server/access/read-filter.ts
  src/server/access/role-self-service.ts
  src/server/access/write-guard.ts
  src/server/auth/__tests__/user-fields.test.ts
  src/server/auth/admin-emails.ts
  src/server/auth/auth.ts
  src/server/auth/user-fields.ts
  src/server/db/index.ts
  src/start.ts
Due: type-check, lint

ci: production build gate + label-gated fly-review previews (#44)
  .github/workflows/build.yml
  .github/workflows/fly-review.yml
  docs/development/engineering-workflow.md
Due: none

Path conditions:
  type-check: any of: **/*.{ts,tsx}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  drizzle-check: any of: src/server/db/schema/**/*.{ts,tsx}
