Repository Enalmada/tanstarter: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, drizzle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "**/*.{ts,tsx}"
      run: bun run check-types
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run lint
    drizzle-check:
      glob: "app/server/db/schema.ts"
      run: bun drizzle:generate

lockfile testing
  bun.lockb
  package.json
Due: lint

lockfile testing
  app.config.ts
Due: lint

old tailwind
  app.config.ts
  app/functions/session.ts
  app/lib/vite/server-guard.ts
  app/middleware/auth-guard.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/api/test/auth.ts
  app/styles/app.css
  app/utils/test/playwright.ts
  bun.lockb
  package.json
  patches/@tanstack%2Fstart@1.95.4.patch
  playwright.config.ts
  postcss.config.ts
  tailwind.config.ts
Due: type-check, lint

tanstack dependency updates
  app.config.ts
  app/components/TaskForm.tsx
  app/middleware/auth-guard.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/api/test/auth.ts
  app/routes/tasks/$taskId.tsx
  app/server/db/__tests__/schema.test.ts
  app/server/db/schema.ts
  app/utils/query/__tests__/queries.test.ts
  app/utils/test/playwright.ts
  bun.lockb
  docker-compose.yml
  package.json
  patches/@tanstack%2Fstart@1.95.4.patch
Due: type-check, lint, drizzle-check

old bun
  app.config.ts
  bun.lockb
Due: lint

old bun
  package.json
Due: lint

external
  app.config.ts
Due: lint

old bun
  app.config.ts
  app/components/admin/EntityList.tsx
  app/routes/index.tsx
  bun.lockb
Due: type-check, lint

rollback deps
  app/routes/tasks/$taskId.tsx
  bun.lockb
  package.json
  playwright.config.ts
Due: type-check, lint

config alias
  app.config.ts
Due: lint

paths dirname
  app.config.ts
Due: lint

fix: rename Button.tsx to button.tsx for case-sensitivity
  app/components/ui/button.tsx
Due: type-check, lint

paths case
  app/components/admin/EntityList.tsx
  app/components/ui/container.tsx
  app/components/ui/title.tsx
  app/routes/index.tsx
Due: type-check, lint

paths case
  app/components/ui/card.tsx
Due: type-check, lint

no specific path
  app.config.ts
Due: lint

storybook fixes
  .clinerules
  .gitignore
  .storybook/main.ts
  app/components/form/FormField.tsx
  biome.json
  bun.lockb
  cline_docs/techContext.md
  package.json
  tailwind.config.ts
  wrangler.toml
Due: type-check, lint

storybook fixes p2
  .storybook/main.ts
  .storybook/static/_headers
  .storybook/static/_redirects
Due: type-check, lint

storybook fixes p2
  .storybook/static/_headers
Due: none

storybook fixes p2
  .storybook/static/_redirects
  bun.lockb
  package.json
Due: lint

storybook fixes p2
  .storybook/static/_redirects
Due: none

storybook fixes p2
  .storybook/main.ts
Due: type-check, lint

storybook fixes p2
  .storybook/main.ts
  .storybook/static/_headers
Due: type-check, lint

storybook fixes p3
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/static/_routes.json
Due: type-check, lint

storybook fixes p3
  .storybook/main.ts
Due: type-check, lint

storybook fixes p3
  .storybook/main.ts
  .storybook/preview-head.html
Due: type-check, lint

storybook fixes p3
  .storybook/static/_headers
Due: none

storybook fixes p4
  .storybook/main.ts
  bun.lockb
  package.json
Due: type-check, lint

storybook worker
  .storybook/static/_routes.json
  .storybook/static/_worker.js
Due: lint

storybook worker clean
  .storybook/static/_routes.json
  .storybook/static/_worker.js
Due: lint

storybook worker clean 2
  .storybook/main.ts
  .storybook/static/_headers
  .storybook/static/_routes.json
Due: type-check, lint

storybook worker no addon
  .storybook/main.ts
Due: type-check, lint

storybook worker clean
  .storybook/main.ts
Due: type-check, lint

storybook worker no worker
  .storybook/main.ts
  .storybook/static/_headers
  .storybook/static/_routes.json
  .storybook/static/_worker.js
Due: type-check, lint

storybook worker no worker
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/static/_headers
Due: type-check, lint

storybook upgrade
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/tsconfig.json
  app/components/ui/checkbox.tsx
  app/components/ui/dialog.tsx
  app/components/ui/form.tsx
  app/components/ui/label.tsx
  app/components/ui/radio-group.tsx
  app/components/ui/scroll-area.tsx
  app/components/ui/select.tsx
  app/components/ui/sheet.tsx
  bun.lockb
Due: type-check, lint

tailwind 4
  .vscode/settings.json
  app/components/layouts/AdminLayout.tsx
  app/components/layouts/DefaultLayout.tsx
  app/components/tasks/TaskListSkeleton.tsx
  app/components/ui/badge.tsx
  app/components/ui/button.tsx
  app/components/ui/card.tsx
  app/components/ui/checkbox.tsx
  app/components/ui/container.tsx
  app/components/ui/dialog.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/input.tsx
  app/components/ui/popover.tsx
  app/components/ui/radio-group.tsx
  app/components/ui/select.tsx
  app/components/ui/sheet.tsx
  app/components/ui/table.tsx
  app/components/ui/textarea.tsx
  app/styles/app.css
  bun.lockb
  package.json
  postcss.config.ts
  tailwind.config.ts
Due: type-check, lint
